@font-face {
   font-family: cf-thin;
   src: url(./OTF/ArticulatCF-Light.otf);
 }
 @font-face {
   font-family: cf-normal;
   src: url(./OTF/ArticulatCF-Normal.otf);
 }
 @font-face {
   font-family: cf-medium;
   src: url(./OTF/ArticulatCF-Medium.otf);
 }
 @font-face {
   font-family: cf-regular;
   src: url(./OTF/ArticulatCF-Regular.otf);
 }
 @font-face {
   font-family: cf-bold;
   src: url(./OTF/ArticulatCF-Bold.otf);
 }
 @font-face {
   font-family: cf-extra-bold;
   src: url(./OTF/ArticulatCF-ExtraBold.otf);
 }
 @font-face {
   font-family: cf-semi-bold;
   src: url(./OTF/ArticulatCF-DemiBold.otf);
 }
 body{
   overflow-x: hidden;
 }
*{
   margin: 0;
   padding: 0;
}
.nav{
   background-color: black;
   padding: 45px 5vw;
   display: flex;
   justify-content: space-between;
}
.contact-btn{
   background-color: transparent;
   border: 2px solid #00FFF0;
   color: white;
   padding: 12px 22px;
   font-size: 20px;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
   font-family: cf-semi-bold;
}
#insta{
   position: relative;
   top:3px;
}
.nav a{
   margin-right: 40px;
   cursor: pointer;
   transition-duration: 1s;
}
.nav a :hover{
   transform: scale(1.1);
   transition-duration: 1s;
}
.bg-main{
   height: 70vh;
   min-height: 600px;
   /* width: 99vw; */
   background-size: cover;
   position: relative;
   overflow: hidden;
   background-image: url(./main-bg-1.png);
   color: white;
   z-index: 1;
}
.why-drive{
   background-color: #0C0C0C;
   position: relative;
   z-index: 2;
}
.point-img{
   position: absolute;
   /* bottom: 280px; */
   width: 100%;
   /* opacity: 0.8; */
}
.main-heading{
   font-size: 50px;
    font-family: cf-semi-bold;
    width: 450px;
    /* position: absolute; */
    position: relative;
    
}
.main-heading p{
   font-family: cf-normal;
   font-size: 20px;

}

.para-thin{
   font-family: cf-thin;
}
.header-content{
   z-index: 0;
   display: flex;
   justify-content: space-evenly;
   position: absolute;
   top: 200px;
   width: 100%;
   z-index: 99;
   color: white;
}
.input-form{
   width: 35vw;
   max-width: 700px;
   min-width: 400px;
   background-color: white;
   border-radius: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   border: 4px solid #00FFF0;
   position: relative;
}
.input-form input{
  
   width: 100%;
   margin: 25px auto;
   height: 50px;
   background-color: #e2e2e2;
   padding-left: 20px;
   border: none;
 

}
.input-form input:focus{
   background-color: rgb(246, 246, 246);
   transition-duration: 0.3s;
   outline: none;
   /* border: 2px solid #00FFF0; */
   box-shadow: 0px 0px 2px 1px #00FFF0;
}

.form-inner{
   width: 80%;
   display: block;
   margin: auto;
}
.input-form ::placeholder{
   font-family: cf-normal;
   font-size: 1.1rem;
   color: rgb(184, 184, 184);
   /* padding-left: 20px; */
}
.input-form p{
   color: black;
   font-family: cf-normal;
   text-transform: uppercase;
   font-size: 1.4rem;
}
.become-driver{
   font-weight: bold;
   font-family: cf-extra-bold;
   text-transform: none;
   font-size: 2.7rem;
}
.aggrement-text a{
   font-family: cf-extra-bold;
   color: black;
}
.aggrement-text{
   color: black;
   font-family: cf-normal;
   font-size: 14px;
}
#name{
   margin-top: 60px;
}

#code{
   margin-bottom: 60px;
}
.mob-header{
   display: flex;
   width: 100vw;
   background-image: url(./main-bg-1.png);
   height: 850px;
   color: white;
   flex-direction: column;
   padding-left: 5vw;
   background-position: center;
   

}
.btn-submit{
   background-color: black;
   border: 3px solid #00FFF0;
   cursor: pointer;
   color: white;
   padding: 10px 40px;
   font-size: 1.3rem;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 10px;
   /* transition-duration: 0.5s; */
}
.btn-submit:hover{
   transform: scale(1.1);
   box-shadow: 0px 0px 0.5px 1px #00FFF0;
}
.heading-content{
   position: absolute;
   width: 450px;
   bottom: 380px;
}
.why-drive-with-us{
   padding-top: 400px;
   color: white;
   font-family: cf-semi-bold;
   font-size: 2.8rem;
   border-bottom: 3px solid white;
   width: 450px;
   padding-bottom: 20px;
   margin-bottom: 100px;
  
}
.why-drive-us-container{
   width: 85vw;
   display: block;
   margin: auto;
}
.test{
   height: 200px;
   width: 300px;
}
.box-content{
   color: white;
   font-family: cf-normal;
}
.boxes{
   display: flex;
   width: 330px;
   font-size: 1.2rem;
   margin: 50px 0px;
}
.box-logo img{
   height: 50px;
   margin-right: 40px;
   margin-top: 7px;
}
#one{
   height: 30px;
}
.smal-box-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}
#bg-points{
   position: absolute;
   right: 0;
   opacity: 0.8;
   width: 60vw;
   height: 100%;
   top: 0;
}
.car-mobile{
   display: none;
   margin: auto;
   width: 90vw;
   max-width: 450px;
}
.vizifund-btn{
   border: 2px solid #00FFF0;
   width: 40%;
   max-width: 600px;
   display: block;
   margin: auto;
   display: flex;
   justify-content: center;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-top: 70px;
}
.vizifund-btn img{
   height: 30px;
}
.vozi-drivers{
   font-family: cf-normal;
   color: white;
   text-align: center;
   margin-top: 40px;
   padding-bottom: 100px;
}
.taxi-div{
   padding-top: 50px;
   width: 100%;
   height: 1000px;
   background-position: right;
   background-repeat: no-repeat;
   opacity: 0.9;
   position: relative;
}
.taxi-div-container{
   display: flex;
   padding-top: 100px;
   /* justify-content: space-between; */
}
.taxi-div-container img{
   position: absolute;
   right: 30px;
}
@media screen and (min-width: 1600px) {
   .taxi-div-container img{
      position: absolute;
      right: 100px;
      transform: scale(1.15);

   }
   .lower-car-left img {
      margin-top: 80px;
      transform: scale(1.2);
      position: relative;
      left: 120px;
  }
  .lower-car-left {
   height: 780px;
  
   margin-top: 100px;
}
.lower-car-right {
   width: 380px;
   margin-left: 4vw;
   margin-top: 200px;
   position: relative;
   left: 57px;
   bottom: -100px;
}

 }
 .travel-container{
   width: 90vw;
   display: block;
   margin: auto;
   height: 620px;
   background-image: url(./roadmap.svg);
   background-size: contain;
   background-repeat: no-repeat;
   margin-top: 160px;
   background-position: center;
   background-size: 90vw auto;
 }
 .car-travel{
   /* background-image: url(./roadmap.svg); */
 }
.what-need{
   font-family: cf-semi-bold;
   font-size: 2.3rem;
   padding-bottom: 20px;
   border-bottom: 2px solid black;
   width: 400px;
   margin-bottom: 50px;
}
.left-taxi-div{
   margin-left: 7%;
}
#span-point{
   height: 10px;
   width: 10px;
   background-color: black;
}
.download-app-img img{
   transition-duration: 0.5s;
   cursor: pointer;
}
.download-app-img img:hover{
   transform: scale(1.1);
   transition-duration: 0.5s;
}
.requirement{
   text-transform: uppercase;
   font-family: cf-semi-bold;
   font-size: 1.3rem;
   border-bottom: 2px solid rgb(222, 222, 222);
   width: 200px;
   padding-bottom: 15px;
}
.left-taxi-div ul{
   font-family: cf-normal;
   margin-top: 20px;
   margin-left: 15px;
}
.left-taxi-div ul li{
   margin-bottom: 10px;
   width: 270px;
}
.mobile-bg{
   width: 100%;
   background-color: #E2EAEE;
   height: 400px;
   background-position: center;
   background-image: url(./horr.png);
   background-size: cover;
   display: flex;
   position: relative;
   justify-content: center;
}
.theApp{
   font-family: cf-bold;
   font-size: 3.6rem;
   padding-top: 100px;
   margin-bottom: 5px;
  
}

.easy-to{
   padding-bottom: 10px;
   font-size: 1.1rem;
   font-family: cf-semi-bold;
   letter-spacing: 0.6px;
   padding-top: 10px;
}
#app{
   position: relative;
   bottom: 200px;
   transition-duration: 0.5s;
}
.lower-mob{
   display: none;
}
#app:hover{
   transform: scale(1.05);
}
.app-bg{
   margin-top: 150px;
   margin-right: 4vw;
}
#download-btn{
   margin-top: 30px;
   background-color: black;
   color: white;
   padding: 12px 22px;
   border-radius: 7px;
   font-size: 1.2rem;
   /* transition-duration: 0.5s; */
}
#download-btn:hover{
   cursor: pointer;
   transform: scale(1.1);
   border: 2px solid #00FFF0;
}
.vozi-container{

   width: 90vw;
   display: block;
   margin: auto;
   /* margin-top: 100px; */
   padding-top: 100px;
}
.vozi-raodmap{
   font-size: 2.2rem;
   font-family: cf-semi-bold;
   padding-bottom: 30px;
   border-bottom: 2px solid black;
   width: 400px;
}


.lower-car-section{
   display: flex;
   margin-top: 100px;
}
.lower-car-left {
   background-image: url(./ver-points.svg);
   height: 692px;
   background-size: auto;
   background-position: right;
   width: 60vw;
   /* margin-top: 100px; */
}
.lower-car-left img{
   margin-top: 80px;
}

.we-incharge{
   font-family: cf-semi-bold;
   font-size: 2.2rem;
   color: black;
   border-bottom: 2px solid black;
   padding-bottom: 20px;
   padding-right: 50px;
}
.lower-car-right{
   width: 380px;
   margin-left: 4vw;
   margin-top: 200px;
}
.lower-car-right p{
   margin-top: 30px;
   font-family: cf-normal;
   font-size: 0.9rem;
   font-size: 16px;
   line-height: 23px;
}

.footer{
   background-color: black;
   /* margin-top: 100px; */
   padding-top: 50px;
   padding-bottom: 50px;
}
.footer-cotainer{
   margin-right: 10vw;
   display: flex;
   justify-content: space-evenly;
}
.contact-us{
   color: white;
   font-family: cf-normal;
   border-left: 2px solid rgb(160, 160, 160);
   padding-left: 50px;
   font-size: 1.2rem;
   padding-top: 30px;
   padding-bottom: 10px;
}
.footer p{
   margin-bottom: 8px;
}
.contact-us a img{
   height: 25px;
   margin-right: 15px;
   margin-left: 17px;
}
#insta img{
   height: 35px;
   position: relative;
   top: 3px;
  
}
#telegram-img img{
   height: 29px;
   position: relative;
   top: 5px;
}
.mob-header{
   display: none;
}
#fb img{
   margin-left: 0px;
}
.footer-logo img{
   height: 90px;
   padding-top: 50px;
}
.download-app{
   color: white;
   font-family: cf-semi-bold;
   text-transform: uppercase;
   font-size: 1.4rem;
   margin-bottom: 20px;
   margin-top: 70px;
}
.download-app-img img{
   margin: 4px;
    height: 50px;
}
.lower-footer{
   color: white;
   display: flex;
   justify-content: space-between;
   font-family: cf-semi-bold;
   text-transform: uppercase;
   font-size: 0.9rem;
   margin-top: 100px;
   padding: 1px 8vw;
}
.lower-footer ul{
   display: flex;
   list-style: none;
   text-transform: uppercase;
}
.lower-footer ul li{
   margin-left: 50px;
}

@media screen and (min-width: 1600px) {
   #privacy{
      margin-right: 7vw;
   }
   .lower-car-left {
      background-image: url(./ver-points.svg);
      height: 730px;
      background-size: auto;
      background-position: right;
      width: 64vw;
      /* margin-top: 100px; */
  }
  .lower-car-left img {
   margin-top: 115px;
}
 }

 @media screen and (max-width: 1000px){
   .lower-car-section{
      flex-wrap: wrap;
   }
   .lower-car-left img{
      width: 100vw;
   }
   .footer-cotainer{
      flex-wrap: wrap;
   }
   .contact-us {
      color: white;
      font-family: cf-normal;
      border-left: 2px solid rgb(160, 160, 160);
      padding-left: 50px;
      font-size: 1rem;
      padding-top: 30px;
      padding-bottom: 10px;
      border: none;
      padding-left: 5px;
  }
  .footer-cotainer {
   display: flex;
   justify-content: center;
   margin-left: 10vw;
   text-align: center;
}
#app {
   position: relative;
   bottom: 0px;
   transition-duration: 0.5s;
   /* height: 682px; */
   width: 90vw;
}
.mobile-bg {
   width: 100%;
   background-color: #E2EAEE;
   height: auto;
   background-position: center;
   background-image: url(./horr.png);
   background-size: cover;
   display: flex;
   position: relative;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   overflow: hidden;
   background-size: auto;
   /* background-repeat: no-repeat; */
}
.nav{
   flex-wrap: wrap;
   width: 100%;
}
.why-drive-with-us{
   width: 90vw;
   margin-bottom: 30px;
}
.vozi-raodmap{
   width: 75vw;
   font-size: 1.5rem;
   margin-bottom: 50px;
   padding-bottom: 13px;
   text-align: center;
   display: block;
   margin: auto;
   margin-bottom: 50px;
}
.lower-car-right {
   /* width: 380px; */
   margin-left: 4vw;
   overflow: hidden;
   margin-top: 73px;
   width: auto;
   margin-bottom: 30px;
}
#verticle-roadmap{
   width: 90vw;
}
.lower-footer ul {
   display: flex;
   list-style: none;
   text-transform: uppercase;
   flex-wrap: wrap;
}
.what-need{
   width: auto;
}
*{
   overflow-x:hidden;
}
.header-content{
   flex-wrap: wrap;
}
.input-form {
   width: 45vw;
   max-width: 700px;
   min-width: auto;
   background-color: white;
   border-radius: 0px;
   padding-top: 35px;
   padding-bottom: 11px;
   margin-top: 250px;
   border: 3px solid #00FFF0;
   position: relative;
   width: 90vw;
   border-radius: 10px;
   
}
#download-btn:hover{
   cursor: pointer;
   transform: scale(1);
   border: 2px solid #00FFF0;
}
.form-inner {
   width: 90%;
}
#name {
   margin-top: 20px;
}
.input-form input {
   width: 92%;
    margin: 15px auto;
    border-radius: 6px;
    height: 40px;
    background-color: #e2e2e2;
    padding-left: 20px;
    border: none;
    margin-left: 1px;
}
.header-content{
   top: 125px;
}
.why-drive-with-us{
   font-size: 1.5rem;
   padding-top: 295px;
}
.boxes {
   display: flex;
   width: 330px;
   font-size: 1.2rem;
   margin: 25px 0px;
}
.vizifund-btn {
   width: 95%;
}
.taxi-div-container {
   display: flex;
   flex-wrap: wrap;
   padding-top: 100px;
   /* justify-content: space-between; */
}
.taxi-div-container img {
   position: absolute;
   right: 0px;
   position: relative;
   width: 100vw;
   margin-top: 20px;

}
.we-incharge {
   font-family: cf-semi-bold;
   font-size: 2.2rem;
   color: black;
   border-bottom: 2px solid black;
   padding-bottom: 20px;
   padding-right: 0px;
   width: 85vw;
}
.taxi-div-container {
   padding-top: 10px;
}
.left-taxi-div {
   display: block;
   margin: auto;
   text-align: center;
}
.requirement{
   width: auto;
}
.taxi-div{
   overflow: hidden;
   height: 722px;
}
#bg-points{
   display: none;
}
.icons{
   display: none;
}
.app-bg {
   margin-top: 50px;
   margin-right: 4vw;
   overflow: hidden;
}
#tt img{
   margin-right: 110px;
}
.box-logo img{
   height: 25px;
}
#one {
   height: 20px;
}
.box-content{
   font-size: 0.9rem;
}
#now-ability{
   margin-right: 5px;
   margin-left: 10px;
}
.mob-header{
   display: block;
}
#join-comm{
   margin-left: -11px;
}
#drive{
   margin-left: -11px;
}
#drive-img img{
   position: relative;
   top: -10px;
}
.car-travel{
   display: none;
}
.car-mobile{
   display: block;
}
.lower-car-left {
   height: auto;
   width: 100vw;
   /* margin-top: 100px; */
}
.easy-to {
   padding-bottom: 10px;
   font-size: 1rem;
   font-family: cf-semi-bold;
   letter-spacing: 0.6px;
   position: relative;
   top: 15px;
   padding-top: 5px;
}
.lower-car-section {
   display: flex;
   margin-top: 0px;
}
.lower-footer{
   display: none;
}
.lower-mob{
   display: flex;
   flex-direction: column;
}
.lower-mob{
   color: white;
   font-family: cf-normal;
   margin-left: 0vw;
   margin-top: 50px;
   text-align: center;
}
.lower-mob li{
   margin-bottom: 10px;
   font-size: 0.9rem;
   text-align: center;
   position: relative;
   right: 0px;
}
#copy{
   margin-right: 0vw;
   margin-top: 40px;
   font-size: 0.7rem;

}
.footer-logo img{
   height: 40px;
}

.mob-its{
   font-size: 1.7rem;
   font-family: cf-thin;
   margin-top: 50px;
   width: 80vw;
   margin-bottom: 15px;
}
.mob-its span{
   font-family: cf-semi-bold;
   
}
.mob-make{
   font-family: cf-normal;
   width: 80vw;
}
.smal-box-container{
   overflow: hidden;
}
.theApp{
   font-size: 2rem;
   padding-bottom: 10px;
}
#app{
   scale: 0.9;
   overflow: hidden;
}
.bg-main{
   display: none;
}
.become-driver {
   font-weight: bold;
   font-family: cf-extra-bold;
   text-transform: none;
   font-size: 2rem;
}
.why-drive-us-container {
   width: 85vw;
   display: block;
   margin: auto;
   margin-top: 100px;
}
.mob-header {
   display: flex;
   width: 100vw;
   background-image: url(./main-bg-1.png);
   height: 750px;
   color: white;
   flex-direction: column;
   padding-left: 5vw;
   background-position: center;
}

 }